
<h1 style="text-align: center;">&nbsp; &nbsp; Instructions</h1>

<p>In this task, you will carefully read <b>one </b>&nbsp;dialogue where two people are debating over the evolution issue. Then you         
will produce a summary of the  dialogue in <b>175 </b>words.
<b>The Summary should include the key arguments and rebuttals expressed in the dialogue and not any personal opinions. Please
adhere to the word limit.</b>&nbsp; HITs will be <b>rejected</b> for workers that write <b>short summaries</b> which do not express 
the content in these dialogues.</b></p></p>

<p>Given below is a dialogue and sample summary to illustrate our requirement.<br />
&nbsp;</p>

<p>S1 and S2 indicate the different writers of these typed debates. Numbers indicate turns taken by each writer.<br />
S1:1 indicates the first turn by Writer1, and S2:1 indicates the first turn by Writer2.</p>

<h2 align="center">Sample Dialogue</h2>

<p><b> S1:1 </b> - Give us a break, the bibe saying &#39; in the future there will be Wars... and Earthquakes ! &#39; is hardly proof, that is beyond coincidence predicting that &#39; things will stay much the same as they are and natural events will occur as usual &#39;. Abortions an unwed couples seems to have pretty much nothing to do with the last line. As for minorities and the constitution, the majority can change the constitution or just ignore it. It is in the majorities interest to support and accept minorities because pretty much everyone falls within one of them and minorites still have a significant number of people, maybe not the most important but enough to swing power between forces competting over the majority.<br />
&nbsp; &nbsp; &nbsp;<br />
<b>S2:1 </b>- The number of earthquales that have happened outside of Israel in the last 100 yrs is exponentially increased. Believe what you will. If you have a better understanding of love waxing cold I&#39;d like to hear it. Obviously we don&#39;t have the smae understanding of the US government. Teh majority rules unless it violates the constitution. If you can point out how that isn&#39;t true then I&#39;d be interested in being enlightened.<br />
&nbsp; &nbsp; &nbsp;<br />
<b>S1:2 </b>- Unless you are a beleiver in a religion, then the whole Earthquake thing is irrelevant and if you are then this isn&#39;t the debate for you. I haven&#39;t been argued that homosexuality is right according to religious beleifs, but more often that your religious beleifs should have nothing to do with my life. Acceptance of homosexuality effecting plate tectonics ? Time to come back to the real world, even if it is true, why should you worship a being that is quite happy to destroy homes and kill people for becoming more tolerant but is quite happy with the famine and AIDS situation and doesn&#39;t get involved with politics ? The constitution is not magic, it has been changed because enough people wanted it done, if the majority wants to ignore or change a part of the consititution it will do.<br />
&nbsp; &nbsp; &nbsp;<br />
<b>S2:2 </b>- First opff Jake started this religious topic. Reread the posts I&#39;m only refuting his assertions. I did not say homosexuality is the cause of anything religious only citing support against Jake&#39;s comments. Don&#39;t ever try to assume you know God&#39;s mentality. Most parents love their children but they raise them according to how they feel is best. According tro what they know. Why are some parents motivator and others discipliners ? That&#39;s my popint if the majority want it they will do it.<br />
&nbsp; &nbsp; &nbsp;<br />
<b>S1:3 </b>- And I refute your refutations. You implied that the Earthquakes were not a natural thing and dinviinly caused Even if there is a god, any &#39; loving parent &#39; that kills some of its children to make a point, when they are fully capable of just changing the issue anyway is hardly deserving of worship. As for people changing, not only is that dubious anyway but not really proof of anything, there are alcoholics who recover and don&#39;t drink and that is definitely genetically influenced. You clearly have no real idea about the state of genetic research or how it works, we are nowhere near finding the purpose of everything. There doesn&#39;t appear to be one gene, but there is probably a combination that lead to a greater chance of being gay. @ Rev, Power of Attorney would be fine, but giving that there is already favouritism shown to some people, why should that favouritism be arteficailly restricted. In the interest of fairness it seems a lot easy to recognise a few more people in an existing group that abolishing it. Also not everyone shares your view on the purpose and role of a government<br />
&nbsp; &nbsp; &nbsp;<br />
<b>S2:3 </b>- No you refute your inferences No I didn&#39;t Who said God killed them ? For someoen that claims there is no God it&#39;s amazing how you&#39;re the expert now on the nature of God. i agree there is a disposition but that doesn&#39;t mean that they are genetically confined as the alcoholic isn&#39;t. So why draw the line at homosexuals ? Why not polygamists ? Why do homosexuals deserve the right and polygamists don&#39;t ? What merits do homosexuality bring that polygamy doesn&#39;t ?<br />
&nbsp; &nbsp; &nbsp;<br />
<b>S1:4 </b>- So that little peice of geological trivia was just that, and had nothing to do with this debate or any points whatsoever ? Perhaps some people are capable of thinking from another&#39;s point of view, if God is a loving parent I can&#39;t see how you can justify the view that anything lethal can be used as a punishment. I don&#39;t think you know how genetics works in this instance. Or do you think that the method of upbringing they have is purely responisble ? I don&#39;t really see any real problem with polygamy itself, but it would have to be watched a little more carefully perhaps as the cultures that practise polygamy tend to be less focused on equality between sexs. As long as you make sure that the marriages are still volentary for both partners and that any person is fully able to leave if they want to then I can&#39;t really see the problem. However it is a lot more complicated if you are looking from the benefits point of view with respect to inheritance and other aspects ( child support and suchlike ) but these are realitively minor points that would just have to be worked out if this type of marriage was to be recognised<br />
&nbsp; &nbsp;&nbsp;</p>

<h2 align="center">Sample Summary</h2>

<p><br />
S2 believes that earthquakes have been increasing over the last few years as mentioned in the Bible prophecies. It may be due to government changing the policies and the constitution as per the majority, with rights for abortion and homosexuals being introduced. God is analogous to a loving, all encompassing parent and does best for his children. He compares homosexuals to polygamists, with rights for homosexuals eventually leading to legalizing polygamy.<br/>
S1 contends that religious arguments may not be used to determine if homosexuality is right or wrong. He refutes the other writer&rsquo;s opinions about the link between natural disasters such as earthquakes and homosexuality and rejects the bible prophecy. He attributes multiple reasons for origin of homosexuality and not a single gene. He then questions the existence of God, and if he loved his children, why does he punish them in a lethal manner with famine and AIDS. Polygamy is more complicated, it opens up other issues such as gender equality, inheritance benefit and child support that need to be addressed before legalizing it.</p>

<h1 style="text-align: center;">Task 1</h1>

<p style="text-align: center;"><strong>Read the dialogue given below and provide a summary of the given  dialogue in 175 words</strong></p>

<table border="1">
<script language="javascript">
//Alter this variable depending on how many words you want to limit the textarea to.  
//var maxword1 = 125; 
var maxword1 = 175;  
//var maxword2 = 250;  
  
function check_length(obj, cnt, rem,maxwords)  
{  
    var ary = obj.value.split(" ");  
    var len = ary.length;  
    cnt.innerHTML = len;  
    rem.innerHTML = maxwords - len;  
    if (len > maxwords) {  
        alert("Message in '" + obj.name + "' limited to " + maxwords + " words.");  
       // ary = ary.slice(0,maxwords-1);  
        obj.value = ary.join(" ");  
        cnt.innerHTML = len;  
        rem.innerHTML = 0;  
        return false;  
    }  
    return true;  
} 
</script>

<p>&nbsp;</p>

<table border="1">
	<tbody>
		<tr>
			<th>Dialog</th>
		</tr>
		<tr>
			<td>${Dialogtext1}</td>
		</tr>
		<tr>
			<td>
			<p>In 175 words, summarize <strong>the dialog given above.</strong></p>
			<strong><textarea name="Dialog_Natural" onkeypress=" return check_length(this, document.getElementById('count_number_words1'), document.getElementById('show_remaining_words1'),maxword1);" style="width: 700px; height: 100px;"></textarea> </strong>

			<p><strong>&nbsp;</strong></p>

			<p><strong><strong>&nbsp;</strong></strong></p>
			<strong><strong> </strong></strong></td>
			<td>
			<p><font color="black">Word count:</font><font color="red"> <span id="count_number_words1">0</span> </font><br />
			<font color="black">Words remaining: </font><font color="red"> <span id="show_remaining_words1">175</span> </font></p>
			</td>
		</tr>
		
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>&nbsp;</strong></p>

<hr />
<p><strong>Please provide any feedback that you have regarding this task. Thank you!</strong></p>

<p><strong><textarea cols="80" name="comment" rows="3"></textarea></strong></p>

<p><strong>&nbsp;</strong></p>

<p><strong>
<style type="text/css"><!--
.highlight-box { border:solid 0px #98BE10; background:#FCF9CE; color:#222222; padding:4px; text-align:left; font-size: smaller;}
-->
</style>
</strong></p>

<p><strong>&nbsp;</strong></p>
