<div style="background-color:lightyellow;">
<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(255, 255, 224);">
<h2 style="font-family: Times;"><span style="font-family: arial, helvetica, sans-serif; line-height: 1.2em; font-size: 13px;">In this task, you will carefully read <b> one dialogue where two people are debating over the gun control issue.<br />
<strong>Each dialog is followed by a list of 9 argument statements. For each argument statement, identify the most similar sentence or possibly a sequence of sentences in the dialog and paste it in the given textbox. </strong> </b></span></h2>

<h2 style="font-family: Times;"><span style="font-family: arial, helvetica, sans-serif; line-height: 1.2em; font-size: 13px;">
<font color="blue">You are expected to read and comprehend the dialog as there may not always be a direct word overlap
 between an argument and the dialog.</br>
We will be keeping track of worker reliability through hidden known answers and an automated algorithm.&nbsp;</font></span></h2>

<p><b style="font-family: Times; line-height: 20.796875px;"><span style="font-family: arial, helvetica, sans-serif; line-height: 1.3em; font-size: 15px;">Given below is a sample dialog and a few argument statements to illustrate our requirement.</span></b></p>

<p><b>S1 and S2 indicate the different writers of these typed debates. Numbers indicate turns taken by each writer.<br />
S1:1 indicates the first turn by Writer1, and S2:1 indicates the first turn by Writer2.</b></p>

<h2 align="center"><b>A sample dialogue</b></h2>

<b>S1:1-</b> Meanwhile this police officer was threatening the lives of everyone in the area when he was engaged in a shootout with his fellow officers. Anybody walking by for up to half a mile was at risk of being hit the way he was recklessly shooting with criminal disregard for anyone and everyone. Enlighten us Aussie Dundee, since you apparently know so much more than everyone else on this board. When members of the military and the police go rogue and start killing people, including their own rank and file buddies, exactly what would you propose as the acceptable solution? What does the enlightened nation of Australia propose as the answer? Because this New Jersey cop is just the most recent in a long, long line of police brutality and careless disregard for life and limb by a government official. We've got examples of them shooting family pets even when they pose no threat, we've got them carelessly discharging their service weapons and killing kids, we've even got examples of highly trained SWAT teams leaving their machine guns behind at crime scenes.
</br><b>S2:1-</b> you have no examples of civilians shooting each other?? :p 
</br><b>S1:2-</b> Stay on topic Aussie Dundee. If you and the rest of Australia have no answers for the problem of rogue police officers going about and murdering the people they're supposed to protect then just say so. You've been presented with the question so the ball's in your court.
</br><b>S2:2-</b> Well, we don't have rogue police officers going about etc.. But if we ever do have them, then of course we'll demand to have guns to defend ourselves from them and from us who will have guns to defend us from them. Sounds right to you? Us being a socialist country we will demand to have the guns given freely to us at birth by the government and also to be trained in their use at public schools and a ration of ammunition supplied free of charge on a weekly basis. We will also demand compensation and free medical care for life in case of any of us, being shot by any of us or rogue police officers, red cross volunteers.. Your posts and Doc's are sohhhhh instructive, I always wanted to know what gun nuts think if you can call their mental processes thought. Oh! before I forget, thanks for the tip about cancer causing knives. If anyone lunges at me with a knife, I'll make sure to ask him if it is a cancer producing knife, for I don't mind being stabbed to death as long it is not with a cancer producing knife. :p :p 
</br><b>S1:3- </b>So put in simple terms you don't know what to do. Australia is basically unprepared should any police officer take their duty weapon and start another Port Arthur incident because the possibility of that happening just never occurred to you guys over there, right? I guess you're just gonna try and flex your sarcasm and hope that it's enough to deflect bullets bought and paid for by the government for the purpose of keeping people like you from getting killed by non-government entities. Hope that works out for you over there, happy hunting Elmer Fudd.
</br><b>S2:3-</b> Well, mijita, another Port Arthur incident is not very probable and the first one was caused by a ' law abiding citizen ' ( until he started shooting ) not by a member of the Rogue Police Force of Australia Yes, we are extremely unprepared, should little green men from Mars decide to land in Port Arthur and start lasering us, we would have no defence against them and don't even think of big green men from Mars or a bunch of gun crazy Mexican-Americans. You are right we have a lot to learn from you guys. 
</br><b>S1:4-</b> Actions by members of the everyday citizenry aren't the subject of discussion here, rather it's the actions of cops and the military; the kinds of people that people like you say should be the only ones with sole access to guns because supposedly only they can be trusted. Well that argument is all well and good until stuff like this cops vs. cops shooting takes place and illustrates the fact of just how f***ed this idea is. Then once the truth comes to light that government officials are no more trustworthy than anybody else then that whole argument goes up in smoke and you're left with nothing. You just can't beat the murderer out of somebody no matter how many rules and regulations and training you propose or mandate, and this shooting illustrates that fact perfectly. So it's back to square one and we inevitably return to you Aussie Dundee and ask what Australia's game plan is in case an incident like this occurs over there. Since you don't seem to have a plan for what to do when the public's trust in government is shattered I'd normally suggest you start praying hard, but since you're an atheist you probably wouldn't do that either.
</br><b>S2:4-</b> I told you, mijita, we are totally completely unprepared. All that stand between us, unarmed civilians and a member of the Rogue Police of Australia is the power of prayer for those who believe in God and for those who don't, NOTHING, NADA. Estamos jodidos, manito. :p


<h2 align="center"><b>Sample Arguments mapped to dialogue statements.</b></h2>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument1: Police endanger others lives when engage in shootouts.</strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument1 in the dialog given above and paste it in the given textbox:</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>Meanwhile this police officer was threatening the lives of everyone in the area when he was engaged in a shootout with his fellow officers.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument2: Australia is unprepared for rouge police agents.</strong></b></p>

<p><b><strong>Find the&nbsp;&nbsp;most similar sentence or a sequence of sentences to Argument2 in the dialog given above and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>If you and the rest of Australia have no answers for the problem of rogue police officers going about and murdering the people they're supposed to protect then just say so.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument3: God will protect the people, not guns.</strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument3 in the dialog given above&nbsp;</strong></b><b style="background-color: rgb(173, 216, 230);"><strong>and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>All that stand between us, unarmed civilians and a member of the Rogue Police of Australia is the power of prayer for those who believe in God and for those who don't, NOTHING, NADA.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument4: No laws will stop a murderer who wants to murder.</strong></b></p>

<p><b><strong>Find the&nbsp;&nbsp;most similar sentence or a sequence of sentences to Argument4 in the dialog given above and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>You just can't beat the murderer out of somebody no matter how many rules and regulations and training you propose or mandate, and this shooting illustrates that fact perfectly.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument5:  Rogue police officers are rare in Australia, and anywhere.</strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences toArgument5 in the dialog given above and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>Well, we don't have rogue police officers going about etc.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument6:  solutions if rouge officers and military start killing people.</strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences toArgument6 in the dialog given above and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>When members of the military and the police go rogue and start killing people, including their own rank and file buddies, exactly what would you propose as the acceptable solution?</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument7: Citizens go crazy as well and shoot.</strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument7 in the dialog given above and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>you have no examples of civilians shooting each other??</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument8: Government officials are no more trustworthy than regular citizens. </strong></b></p>

<p><b><strong>Find the&nbsp;&nbsp;most similar sentence or a sequence of sentences to Argument8 in the dialog given above and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>Then once the truth comes to light that government officials are no more trustworthy than anybody else then that whole argument goes up in smoke and you're left with nothing.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument9: Socialist countries would provide guns and instruction to all their citizens for free..</strong></b></p>

<p><b style="line-height: 20.796875px;"><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument9 in the dialog given above&nbsp;</strong></b><b style="background-color: rgb(173, 216, 230);"><strong>and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b> Us being a socialist country we will demand to have the guns given freely to us at birth by the government and also to be trained in their use at public schools and a ration of ammunition supplied free of charge on a weekly basis.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;">&nbsp;</p>

<h1 style="text-align: center;"><b>Task 1</b></h1>

<h2 align="center"><b>Dialog:</b></h2>
<br />
${Dialogtext_}
<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<p><strong>Identify the most similar sentence or possibly a sequence of sentences for the following Arguments.</strong></p>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument1: ${label_1} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument1 in the dialog given above&nbsp;</strong></b><b style="background-color: rgb(173, 216, 230);"><strong>and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel1" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument2: ${label_2} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument2 in the dialog given above and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel2" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument3: ${label_3} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument3 in the dialog given above&nbsp;</strong></b><b style="background-color: rgb(173, 216, 230);"><strong>and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel3" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument4: ${label_4} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument4 in the dialog given above&nbsp;</strong></b><b style="background-color: rgb(173, 216, 230);"><strong>and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel4" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument5: ${label_5} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument5 in the dialog given above and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel5" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument6: ${label_6} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument6 in the dialog given above&nbsp;</strong></b><b style="background-color: rgb(173, 216, 230);"><strong>and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel6" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument7: ${label_7} </strong></b></p>

<p><b><strong>Find the&nbsp;&nbsp;most similar sentence or a sequence of sentences to Argument7 in the dialog given above and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel7" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument8: ${label_8} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument8 in the dialog given above and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel8" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument9: ${label_9} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument9 in the dialog given above and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel9" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<p><b><strong>Please provide any feedback that you have regarding this task. Thank you!</strong></b></p>

<p><b><strong><textarea style="width: 800px; height: 150px;border-style:solid; border-color:#FF0000;"></textarea></strong></b></p>

<p><b><strong>&nbsp;</strong></b></p>

<p><b><strong>
<style type="text/css"><!--
.highlight-box { border:solid 0px #98BE10; background:#FCF9CE; color:#222222; padding:4px; text-align:left; font-size: smaller;}
-->
</style>
</strong></b></p>

<p><b><strong>&nbsp;</strong></b></p>
</div>
