<div style="background-color:lightyellow;">
<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(255, 255, 224);">
<h2 style="font-family: Times;"><span style="font-family: arial, helvetica, sans-serif; line-height: 1.2em; font-size: 13px;">In this task, you will carefully read <b> one dialogue where two people are debating over the gun control issue.<br />
<strong>Each dialog is followed by a list of 9 argument statements. For each argument statement, identify the most similar sentence or possibly a sequence of sentences in the dialog and paste it in the given textbox. </strong> </b></span></h2>

<h2 style="font-family: Times;"><span style="font-family: arial, helvetica, sans-serif; line-height: 1.2em; font-size: 13px;">
<font color="blue">You are expected to read and comprehend the dialog as there may not always be a direct word overlap
 between an argument and the dialog.</br>
We will be keeping track of worker reliability through hidden known answers and an automated algorithm.&nbsp;</font></span></h2>

<p><b style="font-family: Times; line-height: 20.796875px;"><span style="font-family: arial, helvetica, sans-serif; line-height: 1.3em; font-size: 15px;">Given below is a sample dialog and a few argument statements to illustrate our requirement.</span></b></p>

<p><b>S1 and S2 indicate the different writers of these typed debates. Numbers indicate turns taken by each writer.<br />
S1:1 indicates the first turn by Writer1, and S2:1 indicates the first turn by Writer2.</b></p>

<h2 align="center"><b>A sample dialogue</b></h2>
<b>S1:1- </b> What sex isn&#39;t behaviour? Polygamy is not more acceptable by the standards of Western society. I&#39;m not sure I would call it a significant factor of contemporary Western society. It is significant in patriarchal societies. No court or government in Western society has recognized marriage rights for polygamists.<br />
<b>S2:1- </b> Should they? What are western standards? What were they 20 yrs ago? What were they 100 yrs ago? Marriage is recognizing a family unit based on a natural heterosexual contract.<br />
<b>S1:2- </b>It&#39;s not just for a heterosexual contract in the Netherlands, Belgium, most of Canada, and probably not limited that way for much longer in Sweden and Spain. It won&#39;t be just for a heterosexual contract in Mass. in May. There are married heterosexual couples who either choose to not have children, or cannot have children. So it is not just for having a family unit with children either.<br />
<b>S2:2- </b> This isn&#39;t europe. There dirinking laws, prostituition laws, and many other laws are different than ours. SO are many other countries. If we want to talk about the world the over 90% of the world doesn&#39;t recognize homosexuality. Mass is taking stpes to ban it. Hawaii did the same thing in 1997 and their legislature stopped it. I believe Mass will do the same. A family is the basic unit in society traditionally consisting of two parents rearing their own or adopted children ; also : any of various social units differing from but regarded as equivalent to the traditional family. We&#39;re talking about traditional families. A family can be just a wife and husband. It can&#39;t be two husbands.<br />
<b>S1:3- </b> Well, Europe or Canada is more similar to the U.S. than Iran or Saudi Arabia or Namibia. Any steps will take years, after the legal marriages have already taken place, if those steps are even successful. Single parent families are not generally viewed as traditional.<br />
<b>S2:3- </b> Yeah this country is more similar to Anglo countries. What&#39;s your point? What happens in 2050 when they predict minorites will be over 50% of this country? Hawaii did it in a year. But it is veiwed as natural<br />
<b>S1:4- </b> Look at the current hoity-toity polls which show strong support for gay rights among those 18 - 29. I don&#39;t see polygamy as a value among minorities in the U.S. Hawaii was different, as the legislature made changes against marriage for gays, while the stayed decision was being appealed to the Supreme Court. So is casual sex and rabies. We don&#39;t judge something as good simply because it is natural. Single parenthood is not viewed as the moral traditional ideal among conservatives.<br />
<b>S2:4- </b> They don&#39;t ask them about polygamy. Also gays rights is more political than anything else. It doesn&#39;t really matter does it. We&#39;ll see in the end who&#39;s right. Single parent is natural. Many husbands die early. That&#39;s natural. unwed mothers is not considered moral but it&#39;s still natural. Casual sex is natural but not rational. It will lead to other problems. Rabies are viruses. Rabies aren&#39;t even alive so how can you call that natural?</div>

<h2 align="center"><b>Sample Arguments mapped to dialogue statements.</b></h2>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument1: Single parent families are not considered traditional.</strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument1 in the dialog given above and paste it in the given textbox:</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>Single parent families are not generally viewed as traditional.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument2: Marriage is defined as a family unit based on a heterosexual contract.</strong></b></p>

<p><b><strong>Find the&nbsp;&nbsp;most similar sentence or a sequence of sentences to Argument2 in the dialog given above and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>Marriage is recognizing a family unit based on a natural heterosexual contract.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument3: A number of countries recognize same-sex marriage.</strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument3 in the dialog given above&nbsp;</strong></b><b style="background-color: rgb(173, 216, 230);"><strong>and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>It&#39;s not just for a heterosexual contract in the Netherlands, Belgium, most of Canada, and probably not limited that way for much longer in Sweden and Spain.&nbsp;</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument4: There are many married heterosexual couples who either choose not to have children or can&#39;t.</strong></b></p>

<p><b><strong>Find the&nbsp;&nbsp;most similar sentence or a sequence of sentences to Argument4 in the dialog given above and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>There are married heterosexual couples who either choose to not have children, or cannot have children.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument5: The issue of gay rights is more political.</strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences toArgument5 in the dialog given above and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>Also gays rights is more political than anything else.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument6: 90% of the world bans gay marriage.</strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences toArgument6 in the dialog given above and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>Over 90% of the world doesn&#39;t recognize homosexuality.&nbsp; </b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument7: Polygamous marriage is not recognized by governments in Western societies.</strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument7 in the dialog given above and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>No court or government in Western society has recognized marriage rights for polygamists.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument8: Gay marriage is unlikely to be recognized in future. </strong></b></p>

<p><b><strong>Find the&nbsp;&nbsp;most similar sentence or a sequence of sentences to Argument8 in the dialog given above and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>We&#39;ll see in the end who&#39;s right.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument9:European countries have many laws different than the US.</strong></b></p>

<p><b style="line-height: 20.796875px;"><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument9 in the dialog given above&nbsp;</strong></b><b style="background-color: rgb(173, 216, 230);"><strong>and paste it in the given textbox.</strong></b></p>

<div style="width:500px;height:100px;border:1px solid red;"><br />
<b><b>This isn&#39;t europe. There dirinking laws, prostituition laws, and many other laws are different than ours.</b> </b></div>
</div>

<p style="font-size: 13px; line-height: 20.796875px;">&nbsp;</p>

<h1 style="text-align: center;"><b>Task 1</b></h1>

<h2 align="center"><b>Dialog:</b></h2>
<br />
${Dialogtext_}
<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<p><strong>Identify the most similar sentence or possibly a sequence of sentences for the following Arguments.</strong></p>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument1: ${label_1} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument1 in the dialog given above&nbsp;</strong></b><b style="background-color: rgb(173, 216, 230);"><strong>and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel1" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument2: ${label_2} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument2 in the dialog given above and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel2" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument3: ${label_3} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument3 in the dialog given above&nbsp;</strong></b><b style="background-color: rgb(173, 216, 230);"><strong>and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel3" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument4: ${label_4} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument4 in the dialog given above&nbsp;</strong></b><b style="background-color: rgb(173, 216, 230);"><strong>and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel4" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument5: ${label_5} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument5 in the dialog given above and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel5" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument6: ${label_6} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument6 in the dialog given above&nbsp;</strong></b><b style="background-color: rgb(173, 216, 230);"><strong>and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel6" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument7: ${label_7} </strong></b></p>

<p><b><strong>Find the&nbsp;&nbsp;most similar sentence or a sequence of sentences to Argument7 in the dialog given above and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel7" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument8: ${label_8} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument8 in the dialog given above and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel8" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<div style="font-size: 13px; line-height: 20.796875px; background-color: rgb(173, 216, 230);">
<p><b><strong>Argument9: ${label_9} </strong></b></p>

<p><b><strong>Find the&nbsp;most similar sentence or a sequence of sentences to Argument9 in the dialog given above and paste it in the given textbox.</strong></b></p>
<b><strong><textarea name="SimilarLabel9" style="width: 700px; height: 100px;border-style:solid; border-color:#FF0000;"></textarea> </strong> </b></div>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<p style="font-size: 13px; line-height: 20.796875px;"><b>&nbsp;</b></p>

<p><b><strong>Please provide any feedback that you have regarding this task. Thank you!</strong></b></p>

<p><b><strong><textarea style="width: 800px; height: 150px;border-style:solid; border-color:#FF0000;"></textarea></strong></b></p>

<p><b><strong>&nbsp;</strong></b></p>

<p><b><strong>
<style type="text/css"><!--
.highlight-box { border:solid 0px #98BE10; background:#FCF9CE; color:#222222; padding:4px; text-align:left; font-size: smaller;}
-->
</style>
</strong></b></p>

<p><b><strong>&nbsp;</strong></b></p>
</div>
