<h1 style="text-align: center;">&nbsp; &nbsp; Instructions</h1>

<p>In this task, you will carefully read <b>one </b>&nbsp;dialogue where two people are debating over the abortion issue. Then you will produce a summary of the dialogue in <b>120-125 </b>words. <b>The Summary should include the key arguments and rebuttals expressed in the dialogue and not any personal opinions. Please adhere to the word limit.</b>&nbsp; HITs will be <b>rejected</b> for workers that write <b>short summaries</b> which do not express the content in these dialogues.</p>

<p>&nbsp;</p>

<p>Given below is a dialogue and sample summary to illustrate our requirement.<br />
&nbsp;</p>

<p>S1 and S2 indicate the different writers of these typed debates. Numbers indicate turns taken by each writer.<br />
S1:1 indicates the first turn by Writer1, and S2:1 indicates the first turn by Writer2.</p>

<h2 align="center">Sample Dialogue</h2>

<p><br />
<b>S1:1 </b>-Well then, yes, I support the right to own guns. I support the right to carry guns in most places. I support the right to use them in self defense. I support background checks. I do not support the idea of anyone other than law enforcement to have a gun in schools or on airplanes. I do believe in tougher penalties for criminals who use guns in the commision of crime.<br />
<b>S2:1 </b>- Hey here is the definition of infringement 1: the act of infringing 2: an encroachment or trespass on a right or privilege so tell me how you are pro right to bear arms if you want limits on that right? Nice now that gun hater pilot is finally saying gun hater pilot now wants tougher penalties! Interesting how gun hater pilot a person defending limiting or banning the right to bear arms has not said this until it was pointed out by a person defending the right to bear arms. A person defending a right is not doing one of these, or an encroachment or trespass on a right or privilege on the to the right to bear arms!<br />
<b>S1:2 </b>-I find your use of the phrase &quot;gun hater pilot&quot; to be offensive, as both a gun owner and a pilot.<br />
<b>S2:2 </b>-Was that the question? Or was the question how are you not infringing on a right? Typical gun hater pilot tactics!<br />
<b>S1:3 </b>-Please discontinue the use of the phrase &#39;gun hater pilot&#39;. And since when have you answered the questions asked of you, don&#39;t have a double standard.<br />
<b>S2:3 </b>- A gun hater is a person that wants gun control laws that infringe on the right to bear arms. You have stated you want gun control laws that infringe on a persons right to bear arms! This puts you in the hate group of gun haters! Hey here is the definition of infringement 1 : the act of infringing 2 : an encroachment or trespass on a right or privilege so tell me how you are pro right to bear arms if you want limits on that right?<br />
<b>S1:4 </b>- You are still labeling me as a gun hater ... I really find that offensive.</p>

<h2 align="center">Sample Summary</h2>

<p><br />
<p>S1 supports the right to own and bear guns in most of the places and their use in self dense, but he also agrees to a gun regulation with restrictions such as background checks. He further supports higher penalties if guns are used to commit a crime. He does not support the idea of anyone other than law enforcement officers being allowed to carry guns in schools or on airplanes. S2 challenges S1 to explain how he is pro-gun rights, if he also wants to place limits on those rights. &nbsp;He quoted a definition of infringement twice, which he sees as applying any restriction on a person&#39;s rights or privileges. He insults S1 by calling him a &#39;gun hater pilot&#39; since he is infringing on the rights of others. S1 finds the term &#39;gun hater&#39; as derogatory.</p>
<h1 style="text-align: center;">Task 1</h1>

<p style="text-align: center;"><strong>Read the dialogue given below and provide a summary of the given dialogue in 120-125 words</strong></p>

<p>&nbsp;</p>

<table border="1"><script language="javascript">
//Alter this variable depending on how many words you want to limit the textarea to.  
//var maxword1 = 120-125; 
var maxword1 = 125;  
//var maxword2 = 250;  
  
function check_length(obj, cnt, rem,maxwords)  
{  
    var ary = obj.value.split(" ");  
    var len = ary.length;  
    cnt.innerHTML = len;  
    rem.innerHTML = maxwords - len;  
    if (len > maxwords) {  
        alert("Message in '" + obj.name + "' limited to " + maxwords + " words.");  
       // ary = ary.slice(0,maxwords-1);  
        obj.value = ary.join(" ");  
        cnt.innerHTML = len;  
        rem.innerHTML = 0;  
        return false;  
    }  
    return true;  
} 
</script>
</table>

<table border="1">
	<tbody>
		<tr>
			<th>Dialog</th>
		</tr>
		<tr>
			<td>${Dialogtext1}</td>
		</tr>
		<tr>
			<td>
			<p>In 120-125 words, summarize <strong>the dialog given above.</strong></p>
			<strong><textarea name="Dialog_Natural" onkeypress=" return check_length(this, document.getElementById('count_number_words1'), document.getElementById('show_remaining_words1'),maxword1);" style="width: 700px; height: 100px;"></textarea> </strong>

			<p><strong>&nbsp;</strong></p>

			<p><strong><strong>&nbsp;</strong></strong></p>
			<strong><strong> </strong></strong></td>
			<td>
			<p><font color="black">Word count:</font><font color="red"> <span id="count_number_words1">0</span> </font><br />
			<font color="black">Words remaining: </font><font color="red"> <span id="show_remaining_words1">125</span> </font></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>&nbsp;</strong></p>

<hr />
<p><strong>Please provide any feedback that you have regarding this task. Thank you!</strong></p>

<p><strong><textarea cols="80" name="comment" rows="3"></textarea></strong></p>

<p><strong>&nbsp;</strong></p>

<p><strong>
<style type="text/css"><!--
.highlight-box { border:solid 0px #98BE10; background:#FCF9CE; color:#222222; padding:4px; text-align:left; font-size: smaller;}
-->
</style>
</strong></p>

<p><strong>&nbsp;</strong></p>
